{% extends "layout.html" %}
{% block content %}
<style>
    .column{
        display: flex;
        justify-content: space-around;
    }
    .content-section{
        height: 100%;
    }
</style>
<div class="column">
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.account_holder_name.label(class="form-control-label") }}
                {% if form.account_holder_name.errors %}
                    {{ form.account_holder_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.account_holder_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.account_holder_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.account_holder_crn.label(class_="form-control-label") }}
                {% if form.account_holder_crn.errors %}
                    {{ form.account_holder_crn(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.account_holder_crn.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.account_holder_crn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.account_type.label(class="form-control-label") }}
                {% if form.account_type.errors %}
                    {{ form.account_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.account_type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.account_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form. account_number.label(class="form-control-label") }}
                {% if form. account_number.errors %}
                    {{ form. account_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form. account_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form. account_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form. account_balance.label(class="form-control-label") }}
                {% if form. account_balance.errors %}
                    {{ form. account_balance(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form. account_balance.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form. account_balance(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.money.label(class="form-control-label") }}
                {% if form.money.errors %}
                    {{ form.money(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.money.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.money(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ user_legend }}</legend>
            <div class="form-group">
                {{ account_form.account_number.label(class_="form-control-label") }}
                {% if account_form.account_number.errors %}
                    {{ account_form.account_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in account_form.account_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ account_form.account_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ account_form.search_submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
</div>
{% endblock content %}
